.div{
    text-decoration: none;
    width: 330px;
    height: 370px;
    border-radius: 3%;
    background-color:  rgb(206, 7, 17);;
    border:1px solid  rgb(255, 255, 255);
    margin-bottom:10px;
    margin-top:5px;
    
  }
  
  .div:hover{
    text-decoration: none;
    width: 330px;
    height: 370px;
    border-radius: 3%;
    background-color:  rgb(255, 94, 0);;
    border:1px solid  rgb(255, 255, 255);
    margin-bottom:10px;
    margin-top:5px;

    box-shadow: 1px 1px 20px rgb(189, 10, 196), -1px -1px 20px rgb(189, 10, 196);

  }
  .img {
    width: 330px;
    height: 190px;
    border-radius: 7px;
    
  }
  .h3{
    margin-top: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: white;
    text-shadow: 1px 1px 10px rgb(0, 0, 0), -1px -1px 10px rgb(0, 0, 0);
    text-decoration: none;
  }
  .h5{
    margin-top: 0.1px;
    color: white;
    text-shadow: 1px 1px 10px rgb(0, 0, 0), -1px -1px 10px rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
  }
  

    .editar {
      text-decoration: none;
      background-color: rgb(156, 7, 15);
      border-radius: 5px;
      color: white;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: large;
    }
    
    .editar:hover {
      text-decoration: none;
      background-color: rgb(240, 194, 95);
      border-radius: 5px;
      color: rgb(0, 0, 0);
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: large;
      box-shadow: 1px 1px 20px rgb(14, 15, 0), -1px -1px 20px rgb(14, 15, 0);
    }
    .detalle{
      display: flexbox;
      
    }

      
.botones{
  display: flex;
  justify-content:space-evenly;
  margin: 0px;
}
      
      