.ul{
    background-color:  rgba(20, 20, 22, 0);
    margin:0px;
    padding-top: 2px;
    padding-bottom: 7px;
  }
  .pag{
    justify-content: space-evenly;
    font-size: large;
    border-radius: 6px;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    color: white;
    background-color:   rgb(206, 7, 17);
    cursor: pointer;
  }
  .pag:hover{
    justify-content: space-evenly;
    font-size: large;
    border-radius: 6px;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    color: white;
    background-color:   rgb(255, 94, 0);
    cursor: pointer;
  }
  .pagi{
    justify-content: space-evenly;
    font-size: large;
    border-radius: 6px;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    color: white;
    background-color:   rgb(255, 94, 0);
    cursor: pointer;
  }